body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

header {
    background-color: rgb(0, 3, 168);
    padding: 10px;
    margin: -8px -8px 8px -8px;
}

.name {
    text-align: center;
}

.link-nav {
    padding: 7px;
    background-color: rgb(0, 3, 168);
    color: white;
    border-radius: 5px;
    margin-left: -3px;
}

.link-header {
    padding: 7px;
    background-color: rgb(0, 3, 168);
    color: white;
    border-radius: 5px;
    margin-left: -3px;
}



